/* @font-face {
  font-family: 'Happy Times at the IKOB New Game Plus Edition';
  src: url("../fonts/gt-america/GT-America-Standard-Light.woff2");
  src: url("../fonts/gt-america/GT-America-Standard-Light.woff2") format("woff2"), url("../fonts/gt-america/GT-America-Standard-Light.woff") format("woff"), url("../fonts/gt-america/GT-America-Standard-Light.otf") format("opentype"), url("../fonts/gt-america/GT-America-Standard-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
} */
